html {
     font-size: 1em;
}

body {
    background-color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 1.0em;
    line-height: 140%;
    padding: 0 2em;
}

code {
    font-family: "Menlo", monospace;
    font-size: 0.95em;
}

section {
    padding: 0.5em 0;
    -webkit-overflow-scrolling: touch;
}

a:link {
    color: #00f;
    text-decoration: none;
    border-bottom: 1px solid #00f;
}

h1 {
    font-size: 1.5em;
    padding: 0.7em 0 0 0;
}

h2 {
    font-size: 5.2em;
    padding: 0.7em 0 0 0;
}

h3 {
    font-size: 1.0em;
    padding: 0.7em 0 0 0;
}

blockquote {
    font-size: 0.9em;
    margin-left: 0;
    padding-left: 2em;
    border-left: 8px solid #eee;
}

.footnotes {
  color: #666666;
  margin-top: 2em;
  font-size: 0.9em;
  letter-spacing: -3px;
}

.footnotes:before {
  content: "――――";
}

.footnotes ol {
  letter-spacing: normal;
}
